*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('https://images.unsplash.com/photo-1472214103451-9374bd1c798e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8bmF0dXJlfGVufDB8fDB8fHww&auto=format&fit=crop&w=800&q=60');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
h2{
    font-size: 14px;
    letter-spacing: 4px;
    margin-bottom: 5px;
    text-align: center;
}
.clock{
    display: flex;
}
.clock div{
    margin: 5px;
    position: relative;
}
.clock span{
    width: 100px;
    height: 80px;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: slateblue;
    opacity: 80%;
}
.clock .text{
    font-size: 10px;
    background-color: darkblue;
    height: 30px;
    letter-spacing: 2px
}
.clock #ampm{
    position: absolute;
    bottom: 0;
    height: 30px;
    width: 60px;
    font-size: 20px;
    background-color: aquamarine;
}